@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'typography.scss';

:root {
  --foreground-color: #333;
  --background-color: #fff;
  --secondary-bg-color: #eeeeeebb;
  --background-opacity-color: #ffffffbb;
  --theme-color: #BE4400;
  --theme-color-light: #be420030;
  --navline-width: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #ddd;
    --background-color: #222;
    --secondary-bg-color: #555;
    --background-opacity-color: #222222bb;
    --theme-color: #fe7d49;
    --theme-color-light: #fe7d4930;
  }
}

html {
  font-size: 14px; // Used as 1rem size.
  scroll-behavior: smooth;
}

@media (min-width: 640px) {
  html {
    font-size: 15px;
  }
}

body {
  color: var(--foregound-color);
  background: var(--background-color);
  font-family: var(--font-ibmplexsans), -apple-system, Microsoft Yahei UI, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ::selection {
    background: var(--theme-color);
    color: var(--background-color);
    border-radius: 5px;
  }
}

.main-content {
  width: calc(100vw - 16rem);
  margin-left: 8rem;
  margin-top: 8rem;

  @media (min-width: 1280px) {
    width: calc(100vw - 32rem);
  }
}

.footer {
  margin-right: 7rem;

  @media (min-width: 1280px) {
    margin-right: 23rem;
  }
}

.textcolor-body {
  color: var(--foreground-color);
}

.textcolor-theme {
  color: var(--theme-color);
}

button {
  @apply border px-4 py-2 transition-all duration-200;
  border-color: var(--theme-color);
  border-radius: 3px;
  color: var(--theme-color);
  &:hover {
    background-color: var(--theme-color-light);
  }
}