/*
 * people.scss
 * Project: ecnuvis
 * Created: 2023-06-25 17:34:14
 * Author: Bill Chen (bill.chen@live.com)
 * -----
 * Last Modified: 2023-11-04 12:31:00
 * Modified By: Bill Chen (bill.chen@live.com)
 */

.section-nav {
    @apply max-md:hidden;
    background: linear-gradient(180deg, #FFFFFFAA 0%, #FFFFFF 100%);
    backdrop-filter: blur(0.4rem);
    z-index: 4;

    @screen md {
        @apply pl-3 flex-row gap-4 text-xl top-24 sticky pt-3 pb-4 w-full
    }
}

.section-indicator {
    @apply mb-4 text-xl font-bold;

    @screen md {
        @apply absolute -translate-x-12 h-48 text-xl font-bold mb-0;
        writing-mode: vertical-rl;
    }
}

.section-anchor {
    transform: translateY(-10rem);
}

.flash {
    animation: flash 1s infinite;
}

.badge-container {
    @apply opacity-0 hover:opacity-90 transition-all duration-200;

    .badge {
        @apply absolute bottom-0 left-0 px-2 pr-4 hyphens-auto break-words;
        background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%,
                rgba(0, 0, 0, 0.5) 70%,
                rgba(0, 0, 0, 0) 100%);

        color: #eeeeee;
    }
}

.hover-shine {
    position: relative;
    overflow: hidden;
}

.hover-shine::before {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.3);
    transform: rotate(0deg);
    transition: transform 0.5s ease, opacity 0.6s ease;
    opacity: 0;
}

.hover-shine:hover::before {
    transform: rotate(25deg) translateX(-45%);
    opacity: 0.5;
}